<div class="container">
    <div class="row mb-5">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar Cliente</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja deletar esse cliente?</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="text-center text-info">Cliente: {{client.name}}</h5>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12 d-flex justify-content-center ">
            <button class="btn btn-danger mr-4" routerLink='/client'>Não</button>
            <button class="btn btn-success"  (click)= 'erase()'>Sim</button>
        </div>
    </div>
</div>