<div class="jumbotron jumbotron-fluid jumboCor mb-0">
  <h1 class="display-3 fontBold d-flex justify-content-center">Portal de Entregas</h1>
    <div class="container">
      <div class="col-md-12">
        <div class="card-deck d-flex justify-content-center">
          <div class="card text-dark" id="cardBack2">
            <img id="size" class="card-img-top"
              src="../../assets/img/Successful purchase-pana.png"
              alt="Imagem de capa do card">
            <div class="card-footer">
              <a class="d-flex justify-content-center" id="color" routerLink="/client"><h5>Clientes</h5></a>
            </div>
          </div>
          <div class="card text-dark" id="cardBack2">
            <img id="size" class="card-img-top" src="../../assets/img/Take Away-rafiki.png"
              alt="Imagem de capa do card">
            <div class="card-footer">
              <a class="d-flex justify-content-center" id="color" routerLink="/delivery"><h5>Entregas</h5></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
